# node modules
frontend/node_modules
mobile/node_modules

# expo
frontend/.expo
mobile/.expo

# macos
.DS_Store
backend/.DS_Store
frontend/.DS_Store
frontend/public/icons/.DS_Store
frontend/public/.DS_Store
frontend/.DS_Store

# env
backend/.env
frontend/.env
frontend/.env.production

# backend
__pycache__/

# firebase
backend/app/secrets/*
firebase-key.json

# database
backend/app/database.db
# ???
data/